<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="posts">
            <h2><span jhiTranslate="gatewayApp.postsappPosts.detail.title">Posts</span> {{ posts.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.postsappPosts.title">Title</span></dt>
                <dd>
                    <span>{{ posts.title }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.postsappPosts.image">Image</span></dt>
                <dd>
                    <span>{{ posts.image }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.postsappPosts.content">Content</span></dt>
                <dd>
                    <span>{{ posts.content }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.postsappPosts.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.CategoryPosts.' + posts.category }}">{{ posts.category }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/posts', posts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
